body {
  margin: 0;  
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#area-principal{
  width: 920px;
}

#area-postagens{
  display: flex;
  width: 660px;
  border: 1px solid red;
}
#area-lateral{
  width: 240px;
  border: 1px solid red;
}

#menu a{
  text-decoration: none;  
  color: orange;
  font-weight: bold;
  font-size: 30px; 
}
#menu li{
  list-style: none;
  padding: 20px 20px;
  background-color: #CCC;
}

#menu{
  border: 1px solid rgb(68, 0, 255);
  display: flex;
  text-align: center;
  justify-content: center;
}
ul{
  padding: 0 20px; 
  border: 1px solid red;   
}
#cabecalho h1{
  text-align: center;
}