/*Modelo menu vertical 1*/
#menu1 a{ 
  display: block;
  width: 200px;
  height: 40px;
  text-decoration: none;
  text-indent: 40px;
  line-height: 40px;
  background: url(/exercicios/imagens/menu.png) left;
  color: black;
}
li{
  list-style-type: none;
}
ul{
  margin: 0px;
  padding: 0;
}
#menu1 a:hover{
  color: #fff;
  background: url(/exercicios/imagens/menu.png) right;
}

/*Modelo menu vertical 2*/

#menu2 a{  
  display: block;
  width: 200px;
  height: 40px;
  text-decoration: none;
  line-height: 40px;
  text-indent: 30px;
  color: black;
  background: url(/exercicios/imagens/seta.png) no-repeat center left;
  background-color: rgb(245, 180, 59);   
}

#menu2 a:hover{
  background: url(/exercicios/imagens/seta.png) no-repeat center right;
  background-color: rgb(252, 165, 3);
  color: white;
}
/*Modelo menu vertical 2*/

#menu3 a{
  display: block;
  width: 200px;
  height: 40px;
  background: url(/exercicios/imagens/botao.jpg);
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #fff;

}
#menu a:hover{
  color: #fff;
  background: url(/exercicios/imagens/botao_hover.jpg);

}
